*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
}

#wrapper{
    width: 1000px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_header{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.forms_section{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.form_container{
    width: 50%;
}

.forms{
    width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.form_header{
    text-align: center;
}

.add_dojo_form_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input_field_container{
    width: 100%;
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.input_field_label{
    width: 25%;
    text-align: end;
}

.input_field{
    width: 60%;
    margin-left: 5px;
}

.display_section{
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
}

.display_header{
    width: 100%;
    text-align: center;
}

.list_container{
    width: 25%;
    margin-top: 5px;
}

.dojo_list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dojo_list_items{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dojo_display_name{
    width: 100%;
}

.dojo_list_items .ninja_list{
    width: 80%;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    
}


